In [1]:
import pandas as pd

df_caknun = pd.read_excel('Datasets+Emoji/Done/Datasets_Caknun.xlsx')
df_anies = pd.read_excel('Datasets+Emoji/Done/Datasets_Anies.xlsx')
df_puan = pd.read_excel('Datasets+Emoji/Done/Datasets_Puan.xlsx')
df_luhut = pd.read_excel('Datasets+Emoji/Done/Datasets_Luhut.xlsx')
df_ganjar = pd.read_excel('Datasets+Emoji/Done/Datasets_Ganjar.xlsx')
df_republik = pd.read_excel('Datasets+Emoji/Done/Datasets_RepublikPencitraan.xlsx')
df_politik = pd.read_excel('Datasets+Emoji/Done/Datasets_Politik.xlsx')

In [2]:
# Info DataFrame CakNun
df_caknun.info()
df_caknun.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  888 non-null    int64
 1   Unnamed: 0    888 non-null    int64
 2   Username      888 non-null    object
 3   Label         888 non-null    int64
 4   Text          888 non-null    object
dtypes: int64(3), object(2)
memory usage: 34.8+ KB

,Unnamed: 0.1,Unnamed: 0,Username,Label,Text
0,0,0,ruangmaiyah,0,"Bukankah hanya pada saat mencemooh, putus asa,..."
1,1,2,ruangmaiyah,0,Toh jagat di luar dan jagat di dalam sama saja...
2,2,3,diyoex,0,Mbah nun @caknundotcom \n\nPOLITISI Kubu 01:\n...
3,3,4,diyoex,0,Mbah Nun @caknundotcom \nS.B.Ydyo=J.K kubu 01:...
4,4,5,diyoex,0,"Mbah nun @caknundotcom \n\nBANCI,KOMUNIS&amp;S..."

In [3]:
# Info DataFrame Anies
df_anies.info()
df_anies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  873 non-null    int64
 1   Unnamed: 0    873 non-null    int64
 2   Username      873 non-null    object
 3   Label         873 non-null    int64
 4   Text          873 non-null    object
dtypes: int64(3), object(2)
memory usage: 34.2+ KB

,Unnamed: 0.1,Unnamed: 0,Username,Label,Text
0,0,0,JessicaNeo4,1,"@aniesbaswedan prettttt,gagasan mulu yg dibaha..."
1,1,1,masheru95159275,0,@Wiji_kedua @aniesbaswedan Pemborosan \nBangun...
2,2,3,Alfito70427950,0,@tvOneNews Alhamdulillah.... Segala Puji bagiM...
3,3,4,Anskan7,0,"Dear @Relawananies kebanyakan ngedabol, pergi ..."
4,4,5,masheru95159275,0,@StefanAntonio__ @aniesbaswedan Bukan pemimpin...

In [4]:
# Info DataFrame Puan
df_puan.info()
df_puan.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951 entries, 0 to 950
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  951 non-null    int64
 1   Unnamed: 0    951 non-null    int64
 2   Username      951 non-null    object
 3   Label         951 non-null    int64
 4   Text          951 non-null    object
dtypes: int64(3), object(2)
memory usage: 37.3+ KB

,Unnamed: 0.1,Unnamed: 0,Username,Label,Text
0,0,0,Ajuansyah_putra,0,Kemarin ada yg lempar - lempar kaos sambil mas...
1,1,1,ikhsannawawii,0,"@KompasTV Ga perduli penjelasanmuuuu puan, mem..."
2,2,2,rony_jossaman,0,@A9NiniGramercy @BosPurwa @puanmaharani_ri @ca...
3,3,5,Pakamkalam,0,@cuanmaharani_ri @aniesbaswedan @puanmaharani_...
4,4,6,ynrvvib,0,@ardianpancaa @puanmaharani_ri gak dibrief 💯

In [5]:
# Info DataFrame Luhut
df_luhut.info()
df_luhut.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914 entries, 0 to 913
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  914 non-null    int64
 1   Unnamed: 0    914 non-null    int64
 2   Username      914 non-null    object
 3   Label         914 non-null    int64
 4   Text          914 non-null    object
dtypes: int64(3), object(2)
memory usage: 35.8+ KB

,Unnamed: 0.1,Unnamed: 0,Username,Label,Text
0,0,0,ahimcakep,0,#JokowiGasPolKetahananEnergi\nMenko km opung L...
1,1,1,Anadi_CR,0,Ingat kata pak luhut binsar panjaitan LBP\n\nM...
2,2,2,TheUncleDee,0,@biacho6688992 Kalau yg kasih perintah Luhut B...
3,3,3,TheUncleDee,0,Daripada harus melawan perintah Luhut Binsar P...
4,4,4,qwrtpsdfgh,0,@geloraco Hei Luhut Binsar Panjaitan.\nTolong ...

In [6]:
# Info DataFrame Ganjar
df_ganjar.info()
df_ganjar.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  935 non-null    int64
 1   Unnamed: 0    935 non-null    int64
 2   Username      935 non-null    object
 3   Label         935 non-null    int64
 4   Text          935 non-null    object
dtypes: int64(3), object(2)
memory usage: 36.6+ KB

,Unnamed: 0.1,Unnamed: 0,Username,Label,Text
0,0,1,nepriadi74,0,@Tita83079013 @ganjarpranowo Ini murni tentang...
1,1,2,mukiyo_smg,0,@ch_chotimah2 @ganjarpranowo Yang di kantongny...
2,2,3,JessicaNeo4,1,@Dony_YNWA @Gimichan1721 @budimandjatmiko @gan...
3,3,4,B4ngDm,0,"Setuju Arahan Jokowi, Ganjar Pranowo Larang Pe..."
4,4,5,JuhanaSesa,0,@ganjarpranowo SD q 1968 kadang pake sepatu k...

In [7]:
# Info DataFrame Republik
df_republik.info()
df_republik.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  820 non-null    int64
 1   Unnamed: 0    820 non-null    int64
 2   Username      820 non-null    object
 3   Label         820 non-null    int64
 4   Text          820 non-null    object
dtypes: int64(3), object(2)
memory usage: 32.2+ KB

,Unnamed: 0.1,Unnamed: 0,Username,Label,Text
0,0,0,ahmadjaijuli,0,"Anak-anak Buzzing selamat lembur, awas pke mas..."
1,1,2,kukuhnugraha22,0,Ulama dipersekusi tapi giliran duit umat langs...
2,2,3,Pejuang68406722,0,Tangkap ikan “kakap besar” di laut dangkal saj...
3,3,4,Pejuang68406722,0,Anak ibu pertiwi rat-rata pada teriak betapa s...
4,4,5,Pejuang68406722,0,"Harus di usut, kalo rakyat ramai"" ramai mengus..."

In [8]:
# Info DataFrame Politik
df_politik.info()
df_politik.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1039 non-null   int64
 1   From-User   1038 non-null   object
 2   Sentimen    1039 non-null   object
 3   Sarkas      418 non-null    object
 4   Text        1039 non-null   object
dtypes: int64(1), object(4)
memory usage: 40.7+ KB

,Unnamed: 0,From-User,Sentimen,Sarkas,Text
0,0,Muhri Zayyin,Positif,Sarkas,Kawan2 sunda harusnya bersatu jemput Arteria d...
1,1,Sudarsono Darsono,Negatif,NaN,Arogan dan tidak kapok2 Arteria Dahlan ini 😁
2,2,Ni_Di_Indonesia????,Negatif,NaN,Arteria Dahlan bisa juga dong disidang adat Su...
3,3,Brigade Soeharto (Founder),Negatif,NaN,Terus orang Sunda jemput Arteria Dahlan untuk ...
4,4,NKRI-HargaMati Mohu,Negatif,NaN,Ga usah dijelaskan atau ditafsirkan apalagi me...

In [9]:
# Remove Unused Feature / Column
df_caknun = df_caknun.drop(columns='Unnamed: 0')
df_caknun = df_caknun.drop(columns='Unnamed: 0.1')
df_caknun = df_caknun.drop(columns='Username')
df_caknun = df_caknun.drop(columns='Label')

df_anies = df_anies.drop(columns='Unnamed: 0')
df_anies = df_anies.drop(columns='Unnamed: 0.1')
df_anies = df_anies.drop(columns='Username')
df_anies = df_anies.drop(columns='Label')

df_puan = df_puan.drop(columns='Unnamed: 0')
df_puan = df_puan.drop(columns='Unnamed: 0.1')
df_puan = df_puan.drop(columns='Username')
df_puan = df_puan.drop(columns='Label')

df_luhut = df_luhut.drop(columns='Unnamed: 0')
df_luhut = df_luhut.drop(columns='Unnamed: 0.1')
df_luhut = df_luhut.drop(columns='Username')
df_luhut = df_luhut.drop(columns='Label')

df_ganjar = df_ganjar.drop(columns='Unnamed: 0')
df_ganjar = df_ganjar.drop(columns='Unnamed: 0.1')
df_ganjar = df_ganjar.drop(columns='Username')
df_ganjar = df_ganjar.drop(columns='Label')

df_republik = df_republik.drop(columns='Unnamed: 0')
df_republik = df_republik.drop(columns='Unnamed: 0.1')
df_republik = df_republik.drop(columns='Username')
df_republik = df_republik.drop(columns='Label')

df_politik = df_politik.drop(columns='Unnamed: 0')
df_politik = df_politik.drop(columns='From-User')
df_politik = df_politik.drop(columns='Sentimen')
df_politik = df_politik.drop(columns='Sarkas')

In [10]:
df_politik.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    1039 non-null   object
dtypes: object(1)
memory usage: 8.2+ KB

In [11]:
df_caknun.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    888 non-null    object
dtypes: object(1)
memory usage: 7.1+ KB

In [12]:
df_anies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    873 non-null    object
dtypes: object(1)
memory usage: 6.9+ KB

In [13]:
df_puan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 951 entries, 0 to 950
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    951 non-null    object
dtypes: object(1)
memory usage: 7.6+ KB

In [14]:
df_luhut.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914 entries, 0 to 913
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    914 non-null    object
dtypes: object(1)
memory usage: 7.3+ KB

In [15]:
df_ganjar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    935 non-null    object
dtypes: object(1)
memory usage: 7.4+ KB

In [16]:
df_republik.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    820 non-null    object
dtypes: object(1)
memory usage: 6.5+ KB

<h1>DATA PREPROCESSING</h1>

In [17]:
import regex as re
from html import unescape
import unicodedata

<h2>Convert Mathematical Alphanumeric Symbols to ASCII</h2>

In [18]:
for i in range(len(df_caknun)):
    df_caknun.loc[i, 'Text'] = unicodedata.normalize('NFKD', df_caknun.loc[i, 'Text'])


for i in range(len(df_anies)):
    df_anies.loc[i, 'Text'] = unicodedata.normalize('NFKD', df_anies.loc[i, 'Text'])


for i in range(len(df_puan)):
    df_puan.loc[i, 'Text'] = unicodedata.normalize('NFKD', df_puan.loc[i, 'Text'])


for i in range(len(df_luhut)):
    df_luhut.loc[i, 'Text'] = unicodedata.normalize('NFKD', df_luhut.loc[i, 'Text'])


for i in range(len(df_ganjar)):
    df_ganjar.loc[i, 'Text'] = unicodedata.normalize('NFKD', df_ganjar.loc[i, 'Text'])


for i in range(len(df_republik)):
    df_republik.loc[i, 'Text'] = unicodedata.normalize('NFKD', df_republik.loc[i, 'Text'])


for i in range(len(df_politik)):
    df_politik.loc[i, 'Text'] = unicodedata.normalize('NFKD', df_politik.loc[i, 'Text'])

<h2>Removing HTML Encoding</h2>

In [19]:
def remove_htmlEncoding(text):
    # Mengubah HTML entity menjadi karakter normal
    text = unescape(text)

    # Menghapus tag HTML
    text = re.sub(r'<.*?>', ' ', text)

    return text

<h3>Datasets CakNun</h3>

In [20]:
df_caknun['Text'] = df_caknun['Text'].apply(remove_htmlEncoding)

In [21]:
df_caknun['Text'].head(6)

0    Bukankah hanya pada saat mencemooh, putus asa,...
1    Toh jagat di luar dan jagat di dalam sama saja...
2    Mbah nun @caknundotcom \n\nPOLITISI Kubu 01:\n...
3    Mbah Nun @caknundotcom \nS.B.Ydyo=J.K kubu 01:...
4    Mbah nun @caknundotcom \n\nBANCI,KOMUNIS&SENGK...
5    Mbah nun @caknundotcom \n\nBerLAGAK nDALANK\n👉...
Name: Text, dtype: object

<h3>Datasets Anies</h3>

In [22]:
df_anies['Text'] = df_anies['Text'].apply(remove_htmlEncoding)

In [23]:
df_anies['Text'].head(6)

0    @aniesbaswedan prettttt,gagasan mulu yg dibaha...
1    @Wiji_kedua @aniesbaswedan Pemborosan \nBangun...
2    @tvOneNews Alhamdulillah.... Segala Puji bagiM...
3    Dear @Relawananies kebanyakan ngedabol, pergi ...
4    @StefanAntonio__ @aniesbaswedan Bukan pemimpin...
5    Koalisi Perubahan Makin Solid, Anies Baswedan:...
Name: Text, dtype: object

<h3>Datasets Puan</h3>

In [24]:
df_puan['Text'] = df_puan['Text'].apply(remove_htmlEncoding)

In [25]:
df_puan['Text'].head(6)

0    Kemarin ada yg lempar - lempar kaos sambil mas...
1    @KompasTV Ga perduli penjelasanmuuuu puan, mem...
2    @A9NiniGramercy @BosPurwa @puanmaharani_ri @ca...
3    @cuanmaharani_ri @aniesbaswedan @puanmaharani_...
4         @ardianpancaa @puanmaharani_ri gak dibrief 💯
5    @RositaPratiwi9 @puanmaharani_ri Presiden PDIP...
Name: Text, dtype: object

<h3>Datasets Luhut</h3>

In [26]:
df_luhut['Text'] = df_luhut['Text'].apply(remove_htmlEncoding)

In [27]:
df_luhut['Text'].head(6)

0    #JokowiGasPolKetahananEnergi\nMenko km opung L...
1    Ingat kata pak luhut binsar panjaitan LBP\n\nM...
2    @biacho6688992 Kalau yg kasih perintah Luhut B...
3    Daripada harus melawan perintah Luhut Binsar P...
4    @geloraco Hei Luhut Binsar Panjaitan.\nTolong ...
5    Baru nyadar Pak @jokowi kalau selama ini udah ...
Name: Text, dtype: object

<h3>Datasets Ganjar</h3>

In [28]:
df_ganjar['Text'] = df_ganjar['Text'].apply(remove_htmlEncoding)

In [29]:
df_ganjar['Text'].head(6)

0    @Tita83079013 @ganjarpranowo Ini murni tentang...
1    @ch_chotimah2 @ganjarpranowo Yang di kantongny...
2    @Dony_YNWA @Gimichan1721 @budimandjatmiko @gan...
3    Setuju Arahan Jokowi, Ganjar Pranowo Larang Pe...
4    @ganjarpranowo SD q 1968  kadang pake sepatu k...
5    @Tita83079013 @ganjarpranowo @PDI_Perjuangan M...
Name: Text, dtype: object

<h3>Datasets Republik Pencitraan</h3>

In [30]:
df_republik['Text'] = df_republik['Text'].apply(remove_htmlEncoding)

In [31]:
df_republik['Text'].head(6)

0    Anak-anak Buzzing selamat lembur, awas pke mas...
1    Ulama dipersekusi tapi giliran duit umat langs...
2    Tangkap ikan “kakap besar” di laut dangkal saj...
3    Anak ibu pertiwi rat-rata pada teriak betapa s...
4    Harus di usut, kalo rakyat ramai" ramai mengus...
5    Anak ibu pertiwi rata-rata menjerit perih nya ...
Name: Text, dtype: object

<h3>Datasets Politik</h3>

In [32]:
df_politik['Text'] = df_politik['Text'].apply(remove_htmlEncoding)

In [33]:
df_politik['Text'].head(6)

0    Kawan2 sunda harusnya bersatu jemput Arteria d...
1         Arogan dan tidak kapok2 Arteria Dahlan ini 😁
2    Arteria Dahlan bisa juga dong disidang adat Su...
3    Terus orang Sunda jemput Arteria Dahlan untuk ...
4    Ga usah dijelaskan atau ditafsirkan apalagi me...
5    kan nantik ngak seperti DivHumas_Polri ..awal ...
Name: Text, dtype: object

<h2>Removing Mentions</h2>

In [34]:
def remove_mentions(text):
    text = re.sub(r'@[A-Za-z0-9__]+',' ',text)

    return text

<h3>Datasets CakNun</h3>

In [35]:
df_caknun['Text'] = df_caknun['Text'].apply(remove_mentions)

In [36]:
df_caknun['Text'].head(6)

0    Bukankah hanya pada saat mencemooh, putus asa,...
1    Toh jagat di luar dan jagat di dalam sama saja...
2    Mbah nun   \n\nPOLITISI Kubu 01:\nBONEKA'y Kor...
3    Mbah Nun   \nS.B.Ydyo=J.K kubu 01:\nke-2'y Ada...
4    Mbah nun   \n\nBANCI,KOMUNIS&SENGKUNI:\nyg NGU...
5    Mbah nun   \n\nBerLAGAK nDALANK\n👉Silahkan diB...
Name: Text, dtype: object

<h3>Datasets Anies</h3>

In [37]:
df_anies['Text'] = df_anies['Text'].apply(remove_mentions)

In [38]:
df_anies['Text'].head(6)

0      prettttt,gagasan mulu yg dibahas nyatanya zo...
1        Pemborosan \nBangunan tingkat kampung\nSeb...
2      Alhamdulillah.... Segala Puji bagiMu ya Alla...
3    Dear   kebanyakan ngedabol, pergi ke Kalimanta...
4        Bukan pemimpin\nHanya dosen yg pindah ruan...
5    Koalisi Perubahan Makin Solid, Anies Baswedan:...
Name: Text, dtype: object

<h3>Datasets Puan</h3>

In [39]:
df_puan['Text'] = df_puan['Text'].apply(remove_mentions)

In [40]:
df_puan['Text'].head(6)

0    Kemarin ada yg lempar - lempar kaos sambil mas...
1      Ga perduli penjelasanmuuuu puan, memang kau ...
2                 Ciri ciri barang g laku ya diobral 💯
3            Baru saya sadar, ternyata dia bukan   🤭 💯
4                                        gak dibrief 💯
5                                   Presiden PDIP 🤣🤣 💯
Name: Text, dtype: object

<h3>Datasets Luhut</h3>

In [41]:
df_luhut['Text'] = df_luhut['Text'].apply(remove_mentions)

In [42]:
df_luhut['Text'].head(6)

0    #JokowiGasPolKetahananEnergi\nMenko km opung L...
1    Ingat kata pak luhut binsar panjaitan LBP\n\nM...
2      Kalau yg kasih perintah Luhut Binsar Panjait...
3    Daripada harus melawan perintah Luhut Binsar P...
4      Hei Luhut Binsar Panjaitan.\nTolong jelaskan...
5    Baru nyadar Pak   kalau selama ini udah di Boh...
Name: Text, dtype: object

<h3>Datasets Ganjar</h3>

In [43]:
df_ganjar['Text'] = df_ganjar['Text'].apply(remove_mentions)

In [44]:
df_ganjar['Text'].head(6)

0        Ini murni tentang konstitusi yg harus dite...
1        Yang di kantongnya bu Mega bukan dia.\n  l...
2                                haha saya suka ini. 😭
3    Setuju Arahan Jokowi, Ganjar Pranowo Larang Pe...
4      SD q 1968  kadang pake sepatu kadang sandal ...
5          Masak seorang ganjar ndak ngerti fifa it...
Name: Text, dtype: object

<h3>Datasets Republik Pencitraan</h3>

In [45]:
df_republik['Text'] = df_republik['Text'].apply(remove_mentions)

In [46]:
df_republik['Text'].head(6)

0    Anak-anak Buzzing selamat lembur, awas pke mas...
1    Ulama dipersekusi tapi giliran duit umat langs...
2    Tangkap ikan “kakap besar” di laut dangkal saj...
3    Anak ibu pertiwi rat-rata pada teriak betapa s...
4    Harus di usut, kalo rakyat ramai" ramai mengus...
5    Anak ibu pertiwi rata-rata menjerit perih nya ...
Name: Text, dtype: object

<h3>Datasets Politik</h3>

In [47]:
df_politik['Text'] = df_politik['Text'].apply(remove_mentions)

In [48]:
df_politik['Text'].head(6)

0    Kawan2 sunda harusnya bersatu jemput Arteria d...
1         Arogan dan tidak kapok2 Arteria Dahlan ini 😁
2    Arteria Dahlan bisa juga dong disidang adat Su...
3    Terus orang Sunda jemput Arteria Dahlan untuk ...
4    Ga usah dijelaskan atau ditafsirkan apalagi me...
5    kan nantik ngak seperti DivHumas_Polri ..awal ...
Name: Text, dtype: object

<h2>Removing Hashtags</h2>

In [49]:
def remove_hashtags(text):
    text = re.sub(r'#[A-Za-z0-9-]+',' ', text)

    return text

<h3>Datasets CakNun</h3>

In [50]:
df_caknun['Text'] = df_caknun['Text'].apply(remove_hashtags)

In [51]:
df_caknun['Text'].head(6)

0    Bukankah hanya pada saat mencemooh, putus asa,...
1    Toh jagat di luar dan jagat di dalam sama saja...
2    Mbah nun   \n\nPOLITISI Kubu 01:\nBONEKA'y Kor...
3    Mbah Nun   \nS.B.Ydyo=J.K kubu 01:\nke-2'y Ada...
4    Mbah nun   \n\nBANCI,KOMUNIS&SENGKUNI:\nyg NGU...
5    Mbah nun   \n\nBerLAGAK nDALANK\n👉Silahkan diB...
Name: Text, dtype: object

<h3>Datasets Anies</h3>

In [52]:
df_anies['Text'] = df_anies['Text'].apply(remove_hashtags)

In [53]:
df_anies['Text'].head(6)

0      prettttt,gagasan mulu yg dibahas nyatanya zo...
1        Pemborosan \nBangunan tingkat kampung\nSeb...
2      Alhamdulillah.... Segala Puji bagiMu ya Alla...
3    Dear   kebanyakan ngedabol, pergi ke Kalimanta...
4        Bukan pemimpin\nHanya dosen yg pindah ruan...
5    Koalisi Perubahan Makin Solid, Anies Baswedan:...
Name: Text, dtype: object

<h3>Datasets Puan</h3>

In [54]:
df_puan['Text'] = df_puan['Text'].apply(remove_hashtags)

In [55]:
df_puan['Text'].head(6)

0    Kemarin ada yg lempar - lempar kaos sambil mas...
1      Ga perduli penjelasanmuuuu puan, memang kau ...
2                 Ciri ciri barang g laku ya diobral 💯
3            Baru saya sadar, ternyata dia bukan   🤭 💯
4                                        gak dibrief 💯
5                                   Presiden PDIP 🤣🤣 💯
Name: Text, dtype: object

<h3>Datasets Luhut</h3>

In [56]:
df_luhut['Text'] = df_luhut['Text'].apply(remove_hashtags)

In [57]:
df_luhut['Text'].head(6)

0     \nMenko km opung Luhut B Panjaitan : \nKendar...
1    Ingat kata pak luhut binsar panjaitan LBP\n\nM...
2      Kalau yg kasih perintah Luhut Binsar Panjait...
3    Daripada harus melawan perintah Luhut Binsar P...
4      Hei Luhut Binsar Panjaitan.\nTolong jelaskan...
5    Baru nyadar Pak   kalau selama ini udah di Boh...
Name: Text, dtype: object

<h3>Datasets Ganjar</h3>

In [58]:
df_ganjar['Text'] = df_ganjar['Text'].apply(remove_hashtags)

In [59]:
df_ganjar['Text'].head(6)

0        Ini murni tentang konstitusi yg harus dite...
1        Yang di kantongnya bu Mega bukan dia.\n  l...
2                                haha saya suka ini. 😭
3    Setuju Arahan Jokowi, Ganjar Pranowo Larang Pe...
4      SD q 1968  kadang pake sepatu kadang sandal ...
5          Masak seorang ganjar ndak ngerti fifa it...
Name: Text, dtype: object

<h3>Datasets Republik Pencitraan</h3>

In [60]:
df_republik['Text'] = df_republik['Text'].apply(remove_hashtags)

In [61]:
df_republik['Text'].head(6)

0    Anak-anak Buzzing selamat lembur, awas pke mas...
1    Ulama dipersekusi tapi giliran duit umat langs...
2    Tangkap ikan “kakap besar” di laut dangkal saj...
3    Anak ibu pertiwi rat-rata pada teriak betapa s...
4    Harus di usut, kalo rakyat ramai" ramai mengus...
5    Anak ibu pertiwi rata-rata menjerit perih nya ...
Name: Text, dtype: object

<h3>Datasets Politik</h3>

In [62]:
df_politik['Text'] = df_politik['Text'].apply(remove_hashtags)

In [63]:
df_politik['Text'].head(6)

0    Kawan2 sunda harusnya bersatu jemput Arteria d...
1         Arogan dan tidak kapok2 Arteria Dahlan ini 😁
2    Arteria Dahlan bisa juga dong disidang adat Su...
3    Terus orang Sunda jemput Arteria Dahlan untuk ...
4    Ga usah dijelaskan atau ditafsirkan apalagi me...
5    kan nantik ngak seperti DivHumas_Polri ..awal ...
Name: Text, dtype: object

<h2>Removing Weblinks</h2>

In [64]:
def remove_url(text):
    text = re.sub(r'''(?i)\b((?:https?://|www\d{0,3}[.]|[a-z0-9.\-]+[.][a-z]{2,4}/)(?:[^\s()<>]+|\(([^\s()<>]+|(\([^\s()<>]+\)))*\))+(?:\(([^\s()<>]+|(\([^\s()<>]+\)))*\)|[^\s`!()\[\]{};:'".,<>?«»“”‘’]))''',' ', text)
    text = re.sub(r'https?://t\.co/\S+', ' ', text)

    return text

<h3>Datasets CakNun</h3>

In [65]:
df_caknun['Text'] = df_caknun['Text'].apply(remove_url)

In [66]:
df_caknun['Text'].head(6)

0    Bukankah hanya pada saat mencemooh, putus asa,...
1    Toh jagat di luar dan jagat di dalam sama saja...
2    Mbah nun   \n\nPOLITISI Kubu 01:\nBONEKA'y Kor...
3    Mbah Nun   \nS.B.Ydyo=J.K kubu 01:\nke-2'y Ada...
4    Mbah nun   \n\nBANCI,KOMUNIS&SENGKUNI:\nyg NGU...
5    Mbah nun   \n\nBerLAGAK nDALANK\n👉Silahkan diB...
Name: Text, dtype: object

<h3>Datasets Anies</h3>

In [67]:
df_anies['Text'] = df_anies['Text'].apply(remove_url)

In [68]:
df_anies['Text'].head(6)

0      prettttt,gagasan mulu yg dibahas nyatanya zo...
1        Pemborosan \nBangunan tingkat kampung\nSeb...
2      Alhamdulillah.... Segala Puji bagiMu ya Alla...
3    Dear   kebanyakan ngedabol, pergi ke Kalimanta...
4        Bukan pemimpin\nHanya dosen yg pindah ruan...
5    Koalisi Perubahan Makin Solid, Anies Baswedan:...
Name: Text, dtype: object

<h3>Datasets Puan</h3>

In [69]:
df_puan['Text'] = df_puan['Text'].apply(remove_url)

In [70]:
df_puan['Text'].head(6)

0    Kemarin ada yg lempar - lempar kaos sambil mas...
1      Ga perduli penjelasanmuuuu puan, memang kau ...
2                 Ciri ciri barang g laku ya diobral 💯
3            Baru saya sadar, ternyata dia bukan   🤭 💯
4                                        gak dibrief 💯
5                                   Presiden PDIP 🤣🤣 💯
Name: Text, dtype: object

<h3>Datasets Luhut</h3>

In [71]:
df_luhut['Text'] = df_luhut['Text'].apply(remove_url)

In [72]:
df_luhut['Text'].head(6)

0     \nMenko km opung Luhut B Panjaitan : \nKendar...
1    Ingat kata pak luhut binsar panjaitan LBP\n\nM...
2      Kalau yg kasih perintah Luhut Binsar Panjait...
3    Daripada harus melawan perintah Luhut Binsar P...
4      Hei Luhut Binsar Panjaitan.\nTolong jelaskan...
5    Baru nyadar Pak   kalau selama ini udah di Boh...
Name: Text, dtype: object

<h3>Datasets Ganjar</h3>

In [73]:
df_ganjar['Text'] = df_ganjar['Text'].apply(remove_url)

In [74]:
df_ganjar['Text'].head(6)

0        Ini murni tentang konstitusi yg harus dite...
1        Yang di kantongnya bu Mega bukan dia.\n  l...
2                                haha saya suka ini. 😭
3    Setuju Arahan Jokowi, Ganjar Pranowo Larang Pe...
4      SD q 1968  kadang pake sepatu kadang sandal ...
5          Masak seorang ganjar ndak ngerti fifa it...
Name: Text, dtype: object

<h3>Datasets Republik Pencitraan</h3>

In [75]:
df_republik['Text'] = df_republik['Text'].apply(remove_url)

In [76]:
df_republik['Text'].head(6)

0    Anak-anak Buzzing selamat lembur, awas pke mas...
1    Ulama dipersekusi tapi giliran duit umat langs...
2    Tangkap ikan “kakap besar” di laut dangkal saj...
3    Anak ibu pertiwi rat-rata pada teriak betapa s...
4    Harus di usut, kalo rakyat ramai" ramai mengus...
5    Anak ibu pertiwi rata-rata menjerit perih nya ...
Name: Text, dtype: object

<h3>Datasets Politik</h3>

In [77]:
df_politik['Text'] = df_politik['Text'].apply(remove_url)

In [78]:
df_politik['Text'].head(6)

0    Kawan2 sunda harusnya bersatu jemput Arteria d...
1         Arogan dan tidak kapok2 Arteria Dahlan ini 😁
2    Arteria Dahlan bisa juga dong disidang adat Su...
3    Terus orang Sunda jemput Arteria Dahlan untuk ...
4    Ga usah dijelaskan atau ditafsirkan apalagi me...
5    kan nantik ngak seperti DivHumas_Polri ..awal ...
Name: Text, dtype: object

<h2>Removing Punctuation</h2>

In [79]:
def remove_punctuation(text):
    text = re.sub('\.', ' ', text)
    text = re.sub('\:', ' ', text)
    text = re.sub('\;', ' ', text)
    text = re.sub("\'", '', text)
    text = re.sub("\?", ' ', text)
    text = re.sub('\-', ' ', text)
    text = re.sub('\!', ' ', text)
    text = re.sub('\,', ' ', text)
    text = re.sub('\=', ' ', text)
    text = re.sub('\+', ' ', text)
    text = re.sub('\<', ' ', text)
    text = re.sub('\,', ' ', text)
    text = re.sub('\—', ' ', text)
    text = re.sub('\``', ' ', text)
    text = re.sub('\~', ' ', text)
    text = re.sub('\@', ' ', text)
    text = re.sub('\…', ' ', text)
    text = re.sub('\"', ' ', text)
    text = re.sub('\—', ' ', text)
    text = re.sub("\`", ' ', text)
    text = re.sub("\*", ' ', text)
    text = re.sub("’", ' ', text)
    text = re.sub("\|", ' ', text)
    text = re.sub("\‘", ' ', text)
    text = re.sub("\”", ' ', text)
    text = re.sub("\“", ' ', text)
    text = re.sub("\[", ' ', text)
    text = re.sub("\]", ' ', text)
    text = re.sub("\–", ' ', text)
    text = re.sub("\#", ' ', text)
    text = re.sub("\ð", ' ', text)
    text = re.sub("\›", ' ', text)
    text = re.sub("\†", ' ', text)
    text = re.sub("\¢", ' ', text)
    text = re.sub("\¤", ' ', text)
    text = re.sub("\£", ' ', text)
    text = re.sub("\#", ' ', text)
    text = re.sub("\‡", ' ', text)
    text = re.sub("\œ", ' ', text)
    text = re.sub("\„", ' ', text)
    text = re.sub("\±", ' ', text)
    text = re.sub("\¦", ' ', text)
    text = re.sub("\•", ' ', text)
    text = re.sub("\¥", ' ', text)
    text = re.sub("\ø", ' ', text)
    text = re.sub("\", ' ', text)
    text = re.sub("\", ' ', text)
    text = re.sub("\ƒ", ' ', text)
    
    return text

<h3>Datasets CakNun</h3>

In [80]:
df_caknun['Text'] = df_caknun['Text'].apply(remove_punctuation)

In [81]:
df_caknun['Text'].head(6)

0    Bukankah hanya pada saat mencemooh  putus asa ...
1    Toh jagat di luar dan jagat di dalam sama saja...
2    Mbah nun   \n\nPOLITISI Kubu 01 \nBONEKAy Korp...
3    Mbah Nun   \nS B Ydyo J K kubu 01 \nke 2y Adal...
4    Mbah nun   \n\nBANCI KOMUNIS&SENGKUNI \nyg NGU...
5    Mbah nun   \n\nBerLAGAK nDALANK\n👉Silahkan diB...
Name: Text, dtype: object

<h3>Datasets Anies</h3>

In [82]:
df_anies['Text'] = df_anies['Text'].apply(remove_punctuation)

In [83]:
df_anies['Text'].head(6)

0      prettttt gagasan mulu yg dibahas nyatanya zo...
1        Pemborosan \nBangunan tingkat kampung\nSeb...
2      Alhamdulillah     Segala Puji bagiMu ya Alla...
3    Dear   kebanyakan ngedabol  pergi ke Kalimanta...
4        Bukan pemimpin\nHanya dosen yg pindah ruan...
5    Koalisi Perubahan Makin Solid  Anies Baswedan ...
Name: Text, dtype: object

<h3>Datasets Puan</h3>

In [85]:
df_puan['Text'] = df_puan['Text'].apply(remove_punctuation)

In [86]:
df_puan['Text'].head(6)

0    Kemarin ada yg lempar   lempar kaos sambil mas...
1      Ga perduli penjelasanmuuuu puan  memang kau ...
2                 Ciri ciri barang g laku ya diobral 💯
3            Baru saya sadar  ternyata dia bukan   🤭 💯
4                                        gak dibrief 💯
5                                   Presiden PDIP 🤣🤣 💯
Name: Text, dtype: object

<h3>Datasets Luhut</h3>

In [87]:
df_luhut['Text'] = df_luhut['Text'].apply(remove_punctuation)

In [88]:
df_luhut['Text'].head(6)

0     \nMenko km opung Luhut B Panjaitan   \nKendar...
1    Ingat kata pak luhut binsar panjaitan LBP\n\nM...
2      Kalau yg kasih perintah Luhut Binsar Panjait...
3    Daripada harus melawan perintah Luhut Binsar P...
4      Hei Luhut Binsar Panjaitan \nTolong jelaskan...
5    Baru nyadar Pak   kalau selama ini udah di Boh...
Name: Text, dtype: object

<h3>Datasets Ganjar</h3>

In [89]:
df_ganjar['Text'] = df_ganjar['Text'].apply(remove_punctuation)

In [90]:
df_ganjar['Text'].head(6)

0        Ini murni tentang konstitusi yg harus dite...
1        Yang di kantongnya bu Mega bukan dia \n  l...
2                                haha saya suka ini  😭
3    Setuju Arahan Jokowi  Ganjar Pranowo Larang Pe...
4      SD q 1968  kadang pake sepatu kadang sandal ...
5          Masak seorang ganjar ndak ngerti fifa it...
Name: Text, dtype: object

<h3>Datasets Republik Pencitraan</h3>

In [91]:
df_republik['Text'] = df_republik['Text'].apply(remove_punctuation)

In [92]:
df_republik['Text'].head(6)

0    Anak anak Buzzing selamat lembur  awas pke mas...
1    Ulama dipersekusi tapi giliran duit umat langs...
2    Tangkap ikan  kakap besar  di laut dangkal saj...
3    Anak ibu pertiwi rat rata pada teriak betapa s...
4    Harus di usut  kalo rakyat ramai  ramai mengus...
5    Anak ibu pertiwi rata rata menjerit perih nya ...
Name: Text, dtype: object

<h3>Datasets Politik</h3>

In [93]:
df_politik['Text'] = df_politik['Text'].apply(remove_punctuation)

In [94]:
df_politik['Text'].head(6)

0    Kawan2 sunda harusnya bersatu jemput Arteria d...
1         Arogan dan tidak kapok2 Arteria Dahlan ini 😁
2    Arteria Dahlan bisa juga dong disidang adat Su...
3    Terus orang Sunda jemput Arteria Dahlan untuk ...
4    Ga usah dijelaskan atau ditafsirkan apalagi me...
5    kan nantik ngak seperti DivHumas_Polri   awal ...
Name: Text, dtype: object

<h2>Removing New Lines and Double Whitespaces</h2>

In [95]:
def remove_newLines(text):
    # Removing New Lines and characters
    text = re.sub('\n', ' ', text)
    text = re.sub(':', ' ', text)
    text = re.sub('&amp', ' ', text)
    text = re.sub(';', ' ', text)
    text = re.sub('\(', ' ', text)
    text = re.sub('\)', ' ', text)
    text = re.sub('\_', ' ', text)
    text = re.sub('\&', ' dan ', text)
    text = re.sub('\/', ' atau ', text)
    text = re.sub('\>', ' ', text)

    # Removing Double Whitespaces
    text = re.sub(r'^\s+','', text)
    text = re.sub(r'\s+$','', text)
    text = re.sub(r"//t",r"\t", text)
    text = re.sub(r"( )\1+",r"\1", text)
    text = re.sub(r"(\n)\1+",r"\1", text)
    text = re.sub(r"(\n)\1+",r"\1", text)
    text = re.sub(r"(\r)\1+",r"\1", text)
    text = re.sub(r"(\t)\1+",r"\1", text)

    return text

<h3>Datasets CakNun</h3>

In [96]:
df_caknun['Text'] = df_caknun['Text'].apply(remove_newLines)

In [97]:
df_caknun.head()

                                                Text
0  Bukankah hanya pada saat mencemooh putus asa m...
1  Toh jagat di luar dan jagat di dalam sama saja...
2  Mbah nun POLITISI Kubu 01 BONEKAy Korp SERAKAH...
3  Mbah Nun S B Ydyo J K kubu 01 ke 2y Adalah BUK...
4  Mbah nun BANCI KOMUNIS dan SENGKUNI yg NGUMPET...

<h3>Datasets Anies</h3>

In [98]:
df_anies['Text'] = df_anies['Text'].apply(remove_newLines)

In [99]:
df_anies.head()

                                                Text
0  prettttt gagasan mulu yg dibahas nyatanya zonk...
1  Pemborosan Bangunan tingkat kampung Sebentar b...
2  Alhamdulillah Segala Puji bagiMu ya Allah Bara...
3  Dear kebanyakan ngedabol pergi ke Kalimantan m...
4  Bukan pemimpin Hanya dosen yg pindah ruang Kel...

<h3>Datasets Puan</h3>

In [100]:
df_puan['Text'] = df_puan['Text'].apply(remove_newLines)

In [101]:
df_puan.head()

                                                Text
0  Kemarin ada yg lempar lempar kaos sambil masem...
1  Ga perduli penjelasanmuuuu puan memang kau itu...
2               Ciri ciri barang g laku ya diobral 💯
3             Baru saya sadar ternyata dia bukan 🤭 💯
4                                      gak dibrief 💯

<h3>Datasets Luhut</h3>

In [102]:
df_luhut['Text'] = df_luhut['Text'].apply(remove_newLines)

In [103]:
df_luhut.head()

                                                Text
0  Menko km opung Luhut B Panjaitan Kendaraan lis...
1  Ingat kata pak luhut binsar panjaitan LBP MENJ...
2  Kalau yg kasih perintah Luhut Binsar Panjaitan...
3  Daripada harus melawan perintah Luhut Binsar P...
4  Hei Luhut Binsar Panjaitan Tolong jelaskan war...

<h3>Datasets Ganjar</h3>

In [104]:
df_ganjar['Text'] = df_ganjar['Text'].apply(remove_newLines)

In [105]:
df_ganjar.head()

                                                Text
0  Ini murni tentang konstitusi yg harus ditegakk...
1  Yang di kantongnya bu Mega bukan dia lebih pah...
2                               haha saya suka ini 😭
3  Setuju Arahan Jokowi Ganjar Pranowo Larang Pej...
4  SD q 1968 kadang pake sepatu kadang sandal jep...

<h3>Datasets Republik Pencitraan</h3>

In [106]:
df_republik['Text'] = df_republik['Text'].apply(remove_newLines)

In [107]:
df_republik.head()

                                                Text
0  Anak anak Buzzing selamat lembur awas pke mask...
1  Ulama dipersekusi tapi giliran duit umat langs...
2  Tangkap ikan kakap besar di laut dangkal saja ...
3  Anak ibu pertiwi rat rata pada teriak betapa s...
4  Harus di usut kalo rakyat ramai ramai mengusut...

<h3>Datasets Politik</h3>

In [108]:
df_politik['Text'] = df_politik['Text'].apply(remove_newLines)

In [109]:
df_politik.head(6)

                                                Text
0  Kawan2 sunda harusnya bersatu jemput Arteria d...
1       Arogan dan tidak kapok2 Arteria Dahlan ini 😁
2  Arteria Dahlan bisa juga dong disidang adat Su...
3  Terus orang Sunda jemput Arteria Dahlan untuk ...
4  Ga usah dijelaskan atau ditafsirkan apalagi me...
5  kan nantik ngak seperti DivHumas Polri awal ny...

<h2>Stopwords Removal</h2>

In [110]:
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from nltk.corpus import stopwords
import nltk

In [111]:
def stopword_remover_sastrawi(text):
    factory = StopWordRemoverFactory()
    # stopwords = factory.get_stop_words()
    text = text.lower()
    stopwords_remover = factory.create_stop_word_remover()
    return stopwords_remover.remove(text)

def stopword_remover_nltk(text):
    stop_words = set(stopwords.words('indonesian'))
    words = nltk.word_tokenize(text)
    filtered_words = [word for word in words if word.casefold() not in stop_words]

    return ' '.join(filtered_words)

<h3>Datasets CakNun</h3>

In [112]:
df_caknun['Text'] = df_caknun['Text'].apply(stopword_remover_sastrawi)

In [113]:
df_caknun['Text'] = df_caknun['Text'].apply(stopword_remover_nltk)

In [114]:
df_caknun.head()

                                                Text
0  mencemooh putus asa marah sejenis menekankan s...
1   jagat jagat mengenal tuhan mengenal mengenal m 😨
2  mbah nun politisi kubu 01 bonekay korp serakah...
3  mbah nun s b ydyo j k kubu 01 2y negarawan pol...
4  mbah nun banci komunis sengkuni yg ngumpet dib...

<h3>Datasets Anies</h3>

In [115]:
df_anies['Text'] = df_anies['Text'].apply(stopword_remover_sastrawi)

In [116]:
df_anies['Text'] = df_anies['Text'].apply(stopword_remover_nltk)

In [117]:
df_anies.head()

                                                Text
0  prettttt gagasan mulu yg dibahas zonk eksekusi...
1  pemborosan bangunan tingkat kampung sebentar b...
2  alhamdulillah puji bagimu allah barakallah bpk...
3  dear kebanyakan ngedabol pergi kalimantan meng...
4  pemimpin dosen yg pindah ruang kelebihan keleb...

<h3>Datasets Puan</h3>

In [118]:
df_puan['Text'] = df_puan['Text'].apply(stopword_remover_sastrawi)

In [119]:
df_puan['Text'] = df_puan['Text'].apply(stopword_remover_nltk)

In [120]:
df_puan.head()

                                                Text
0  kemarin yg lempar lempar kaos masem mukanya le...
1  ga perduli penjelasanmuuuu puan kau orangnya k...
2                  ciri ciri barang g laku diobral 💯
3                                          sadar 🤭 💯
4                                      gak dibrief 💯

<h3>Datasets Luhut</h3>

In [121]:
df_luhut['Text'] = df_luhut['Text'].apply(stopword_remover_sastrawi)

In [122]:
df_luhut['Text'] = df_luhut['Text'].apply(stopword_remover_nltk)

In [123]:
df_luhut.head()

                                                Text
0  menko km opung luhut b panjaitan kendaraan lis...
1  luhut binsar panjaitan lbp abdi pahlawan negar...
2  yg kasih perintah luhut binsar panjaitan ketua...
3  melawan perintah luhut binsar panjaitan mendin...
4  hei luhut binsar panjaitan warga kau mengurus ...

<h3>Datasets Ganjar</h3>

In [124]:
df_ganjar['Text'] = df_ganjar['Text'].apply(stopword_remover_sastrawi)

In [125]:
df_ganjar['Text'] = df_ganjar['Text'].apply(stopword_remover_nltk)

In [126]:
df_ganjar.head()

                                                Text
0  murni konstitusi yg ditegakkan yg pd uud 45 al...
1  kantongnya bu mega paham jateng mengelu elukan...
2                                        haha suka 😭
3  setuju arahan jokowi ganjar pranowo larang pej...
4  sd q 1968 kadang pake sepatu kadang sandal jep...

<h3>Datasets Republik Pencitraan</h3>

In [127]:
df_republik['Text'] = df_republik['Text'].apply(stopword_remover_sastrawi)

In [128]:
df_republik['Text'] = df_republik['Text'].apply(stopword_remover_nltk)

In [129]:
df_republik.head()

                                                Text
0  anak anak buzzing selamat lembur awas pke mask...
1  ulama dipersekusi giliran duit umat langsung n...
2  tangkap ikan kakap laut dangkal ndak bernyali ...
3  anak pertiwi rat teriak betapa susah nya ekono...
4  usut kalo rakyat ramai ramai mengusut nya insy...

<h3>Datasets Politik</h3>

In [130]:
df_politik['Text'] = df_politik['Text'].apply(stopword_remover_sastrawi)

In [131]:
df_politik['Text'] = df_politik['Text'].apply(stopword_remover_nltk)

In [132]:
df_politik.head()

                                                Text
0       kawan2 sunda bersatu jemput arteria dahlan 😁
1                     arogan kapok2 arteria dahlan 😁
2  arteria dahlan disidang adat sunda daerah menu...
3  orang sunda jemput arteria dahlan sidang rakya...
4  ga ditafsirkan membanding bandingkan edy arter...

<h2>Make sure punctuations has been removed</h2>

In [ ]:
def check_non_alphabet(text):
    punc = []
    for text in text:
        non_alphabet = re.findall("[^\sa-zA-Z]+", text)
        if non_alphabet:
            punc.extend(non_alphabet)
    return punc

<h3>Datasets CakNun</h3>

In [ ]:
# punc_CakNun = check_non_alphabet(df_caknun['Text'])
# for i in punc_CakNun:
#     print(i)

<h3>Datasets Anies</h3>

In [ ]:
# punc_Anies = check_non_alphabet(df_anies['Text'])
# for i in punc_Anies:
#     print(i)

<h3>Datasets Puan</h3>

In [ ]:
# punc_Puan = check_non_alphabet(df_puan['Text'])
# for i in punc_Puan:
#     print(i)

<h3>Datasets Luhut</h3>

In [ ]:
# punc_Luhut = check_non_alphabet(df_luhut['Text'])
# for i in punc_Luhut:
#     print(i)

<h3>Datasets Ganjar</h3>

In [ ]:
# punc_Ganjar = check_non_alphabet(df_ganjar['Text'])
# for i in punc_Ganjar:
#     print(i)

<h3>Datasets Republik Pencitraan</h3>

In [ ]:
# punc_Republik = check_non_alphabet(df_republik['Text'])
# for i in punc_Republik:
#     print(i)

<h3>Datasets Politik</h3>

In [ ]:
# punc_Politik = check_non_alphabet(df_politik['Text'])
# for i in punc_Politik:
#     print(i)

<h2>Separate alnums by emoji</h2>

<h3>Datasets CakNun</h3>

In [133]:
df_caknun['emoji'] = df_caknun['Text'].apply(lambda x: re.findall(r'\W', x))

In [134]:
df_caknun['Text'] = df_caknun['Text'].apply(lambda x: re.sub(r'\W+', ' ', x))

In [135]:
df_caknun.head(21)

,Text,emoji
0,mencemooh putus asa marah sejenis menekankan s...,"[ , , , , , , , , 😨]"
1,jagat jagat mengenal tuhan mengenal mengenal m,"[ , , , , , , , 😨]"
2,mbah nun politisi kubu 01 bonekay korp serakah...,"[ , , , , , , , , , , , , , , , ..."
3,mbah nun s b ydyo j k kubu 01 2y negarawan pol...,"[ , , , , , , , , , , , , , , , ..."
4,mbah nun banci komunis sengkuni yg ngumpet dib...,"[ , , , , , , , , , , , , , , , ..."
5,mbah nun berlagak ndalank silahkan dibaca foto...,"[ , , , , 👉, , , , 👈, , , , , , , ..."
6,caplin politikus rakus bertinggi badan cebol k...,"[ , 👇, , , , , , , , , , , , , , ..."
7,mbah nun ma mengontrak disampink rumah baik2 a...,"[ , , , , , , , , , , , , , , , ..."
8,mbah nun kondisi media pribadi saya in sedank ...,"[ , , , , , 👇, , , , , , , , , , ..."
9,suami istri gagal kerap dinilai menjaga kehorm...,"[ , , , , , , , , 😨]"
10,orang ga ngerti apa2 sejarah nu muhammadyah be...,"[ , , , , , , , , , , , , , , , ..."
11,cak nun freire orwell twit,"[ , , , , , 😨]"
12,mbah sipil2 komplotan kriminal penjahat perusa...,"[ , , , , , , , , , , , , , , , ..."
13,mbah nun kecoa tni ad s b y luhut b p j k teru...,"[ , , , , , , , , , , , , , , , ..."
14,mbah nun politisi malink kemampuan idividuy le...,"[ , , 👇, , , , , , , , , , , , , ..."
15,habis yg korek2 kamrin cak nun skrg gus miftah...,"[ , , , , , , , , , , 😨]"
16,aslinya penjilat cendana hidup or bacot gede,"[ , , , , , , , 😨]"
17,mbah biank keroky sumber masalahy hayoo mbulet...,"[ , , , , 👇, , , , , , , , , , , ..."
18,kalo si wowon emang beneran kerasukan setan be...,"[ , , , , , , , 😃, 😃, 😃, , , , , , ..."
19,tuhan menciptakan pundak lelaki menyangga tang...,"[ , , , , , , , 😨]"
20,setan diturunkan bumi mahluk penggoda manusia ...,"[ , , , , , , , , , , , , , , , ..."

In [136]:
df_caknun['emoji'] = df_caknun['emoji'].apply(''.join)

In [137]:
df_caknun['emoji'] = df_caknun['emoji'].astype(str)

In [138]:
df_caknun.head(21)

,Text,emoji
0,mencemooh putus asa marah sejenis menekankan s...,😨
1,jagat jagat mengenal tuhan mengenal mengenal m,😨
2,mbah nun politisi kubu 01 bonekay korp serakah...,👉 👈 😨
3,mbah nun s b ydyo j k kubu 01 2y negarawan pol...,👇 😨
4,mbah nun banci komunis sengkuni yg ngumpet dib...,👉 👈 😨
5,mbah nun berlagak ndalank silahkan dibaca foto...,👉 👈 😨
6,caplin politikus rakus bertinggi badan cebol k...,👇 😨
7,mbah nun ma mengontrak disampink rumah baik2 a...,😏 😨
8,mbah nun kondisi media pribadi saya in sedank ...,👇 👉 👈 😨
9,suami istri gagal kerap dinilai menjaga kehorm...,😨
10,orang ga ngerti apa2 sejarah nu muhammadyah be...,😨
11,cak nun freire orwell twit,😨
12,mbah sipil2 komplotan kriminal penjahat perusa...,😨
13,mbah nun kecoa tni ad s b y luhut b p j k teru...,😨
14,mbah nun politisi malink kemampuan idividuy le...,👇 😨
15,habis yg korek2 kamrin cak nun skrg gus miftah...,😨
16,aslinya penjilat cendana hidup or bacot gede,😨
17,mbah biank keroky sumber masalahy hayoo mbulet...,👇 👉 😨
18,kalo si wowon emang beneran kerasukan setan be...,😃😃😃 😂 😨
19,tuhan menciptakan pundak lelaki menyangga tang...,😨
20,setan diturunkan bumi mahluk penggoda manusia ...,😨

In [139]:
df_caknun['text_emoji'] = df_caknun['Text'] + df_caknun['emoji']

In [140]:
df_caknun['text_emoji'] = df_caknun['text_emoji'].apply(remove_newLines)

In [141]:
df_caknun['text_emoji'] = df_caknun['text_emoji'].apply(lambda x: x.split())

In [142]:
df_caknun['text_emoji'][2]

['mbah',
 'nun',
 'politisi',
 'kubu',
 '01',
 'bonekay',
 'korp',
 'serakah',
 'hobi',
 'campur',
 'kurank',
 'ajar',
 'tni',
 'ad',
 'cikeas',
 'j',
 'k',
 'golkar',
 'politisi',
 'kecoa',
 'komunis',
 'asli',
 'solo',
 'politisi',
 'maaruf',
 'amin',
 'sunda',
 'anggota',
 'ormas',
 'n',
 'u',
 'kalah',
 'pilpres',
 '2019',
 '👉',
 '👈',
 '😨']

In [143]:
tokens = df_caknun['text_emoji'][2]
emoji_pos = ['😃','😂', '👉']
emoji_neg = ['😨']

total_positif = sum(1 for i in tokens if i in emoji_pos)
print(total_positif)

total_negatif = sum(1 for i in tokens if i in emoji_neg)
print(total_negatif)

1
1

<h3>Datasets Anies</h3>

In [ ]:
df_anies['emoji'] = df_anies['Text'].apply(lambda x: re.findall(r'\W', x))

In [ ]:
df_anies['emoji'] = df_anies['emoji'].astype(str)

In [ ]:
df_anies.head(21)

In [ ]:
# df_anies['emoji'] = df_anies['emoji'].apply(''.join)

In [ ]:
df_anies['emoji'].head(7)

<h3>Datasets Puan</h3>

In [ ]:
df_puan['emoji'] = df_puan['Text'].apply(lambda x: re.findall(r'\W', x))

In [ ]:
df_puan['emoji'] = df_puan['emoji'].astype(str)

In [ ]:
df_puan.head(21)

In [ ]:
# df_puan['emoji'] = df_puan['emoji'].apply(''.join)

In [ ]:
df_puan.head(21)

<h3>Datasets Luhut</h3>

In [ ]:
df_luhut['emoji'] = df_luhut['Text'].apply(lambda x: re.findall(r'\W', x))

In [ ]:
df_luhut['emoji'] = df_luhut['emoji'].astype(str)

In [ ]:
df_luhut.head(21)

In [ ]:
# df_luhut['emoji'] = df_luhut['emoji'].apply(''.join)

In [ ]:
df_luhut.head(21)

<h3>Datasets Ganjar</h3>

In [ ]:
df_ganjar['emoji'] = df_ganjar['Text'].apply(lambda x: re.findall(r'\W', x))

In [ ]:
df_ganjar['emoji'] = df_ganjar['emoji'].astype(str)

In [ ]:
df_ganjar.head(21)

In [ ]:
# df_ganjar['emoji'] = df_ganjar['emoji'].apply(''.join)

In [ ]:
df_ganjar.head(21)

<h3>Datasets Republik Pencitraan</h3>

In [ ]:
df_republik['emoji'] = df_republik['Text'].apply(lambda x: re.findall(r'\W', x))

In [ ]:
df_republik['emoji'] = df_republik['emoji'].astype(str)

In [ ]:
df_republik.head(21)

In [ ]:
# df_republik['emoji'] = df_republik['emoji'].apply(''.join)

In [ ]:
df_republik.head(21)

<h3>Datasets Politik</h3>

In [ ]:
df_politik['emoji'] = df_politik['Text'].apply(lambda x: re.findall(r'\W', x))

In [ ]:
df_politik['emoji'] = df_politik['emoji'].astype(str)

In [ ]:
df_politik.head(21)

In [ ]:
# df_politik['emoji'] = df_politik['emoji'].apply(''.join)

In [ ]:
df_politik.head(21)

<h2>Stemming</h2>

In [ ]:
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [ ]:
def stemming(text):
    factory = StemmerFactory()
    stemmer = factory.create_stemmer()
    
    return stemmer.stem(text)

<h3>Datasets CakNun</h3>

In [ ]:
df_caknun['Text'] = df_caknun['Text'].apply(stemming)

In [ ]:
df_caknun['Text'].head(21)

<h3>Datasets Anies</h3>

In [ ]:
df_anies['Text'] = df_anies['Text'].apply(stemming)

In [ ]:
df_anies['Text'].head(21)

<h3>Datasets Puan</h3>

In [ ]:
df_puan['Text'] = df_puan['Text'].apply(stemming)

In [ ]:
df_puan['Text'].head(21)

<h3>Datasets Luhut</h3>

In [ ]:
df_luhut['Text'] = df_luhut['Text'].apply(stemming)

In [ ]:
df_luhut['Text'].head(21)

<h3>Datasets Ganjar</h3>

In [ ]:
df_ganjar['Text'] = df_ganjar['Text'].apply(stemming)

In [ ]:
df_ganjar['Text'].head(21)

<h3>Datasets Republik Pencitraan</h3>

In [ ]:
df_republik['Text'] = df_republik['Text'].apply(stemming)

In [ ]:
df_republik['Text'].head(21)

<h3>Datasets Politik</h3>

In [ ]:
df_politik['Text'] = df_politik['Text'].apply(stemming)

In [ ]:
df_politik['Text'].head(21)

<h2>Get Unknown Words From Each Datasets</h2>

In [ ]:
df_kbbi = pd.read_excel('Misc/KBBI_Corpus/kbbi_corpus.xlsx')
df_kbbi.info()

In [ ]:
corpus_kbbi = []
for i in df_kbbi['Kata']:
    corpus_kbbi.append(i)

In [ ]:
len(corpus_kbbi)

<h3>Datasets CakNun</h3>

In [ ]:
df_caknun['Tokenized'] = df_caknun['Text'].apply(lambda x: x.split())

In [ ]:
df_caknun.head(8)

In [ ]:
corpus_caknun = []

for i in df_caknun['Tokenized']:
  corpus_caknun.append(i)

corpus_caknun = set([word for words in corpus_caknun for word in words])
corpus_kbbi = set(corpus_kbbi)

In [ ]:
corpus_unknown_caknun = list(corpus_caknun - corpus_kbbi)

In [ ]:
len(corpus_unknown_caknun)

<h3>Datasets Anies</h3>

In [ ]:
df_anies['Tokenized'] = df_anies['Text'].apply(lambda x: x.split())

In [ ]:
df_anies.head()

In [ ]:
corpus_anies = []

for i in df_anies['Tokenized']:
  corpus_anies.append(i)

corpus_anies = set([word for words in corpus_anies for word in words])

In [ ]:
corpus_unknown_anies = list(corpus_anies - corpus_kbbi)

In [ ]:
len(corpus_unknown_anies)

<h3>Datasets Puan</h3>

In [ ]:
df_puan['Tokenized'] = df_puan['Text'].apply(lambda x: x.split())

In [ ]:
df_puan.head()

In [ ]:
corpus_puan = []

for i in df_puan['Tokenized']:
  corpus_puan.append(i)

corpus_puan = set([word for words in corpus_puan for word in words])

In [ ]:
corpus_unknown_puan = list(corpus_puan - corpus_kbbi)

In [ ]:
len(corpus_unknown_puan)

<h3>Datasets Luhut</h3>

In [ ]:
df_luhut['Tokenized'] = df_luhut['Text'].apply(lambda x: x.split())

In [ ]:
df_luhut.head()

In [ ]:
corpus_luhut = []

for i in df_luhut['Tokenized']:
  corpus_luhut.append(i)

corpus_luhut = set([word for words in corpus_luhut for word in words])

In [ ]:
corpus_unknown_luhut = list(corpus_luhut - corpus_kbbi)

In [ ]:
len(corpus_unknown_luhut)

<h3>Datasets Ganjar</h3>

In [ ]:
df_ganjar['Tokenized'] = df_ganjar['Text'].apply(lambda x: x.split())

In [ ]:
df_ganjar.head()

In [ ]:
corpus_ganjar = []

for i in df_ganjar['Tokenized']:
  corpus_ganjar.append(i)

corpus_ganjar = set([word for words in corpus_ganjar for word in words])

In [ ]:
corpus_unknown_ganjar = list(corpus_ganjar - corpus_kbbi)

In [ ]:
len(corpus_unknown_ganjar)

<h3>Datasets Republik Pencitraan</h3>

In [ ]:
df_republik['Tokenized'] = df_republik['Text'].apply(lambda x: x.split())

In [ ]:
df_republik.head()

In [ ]:
corpus_republik = []

for i in df_republik['Tokenized']:
  corpus_republik.append(i)

corpus_republik = set([word for words in corpus_republik for word in words])

In [ ]:
corpus_unknown_republik = list(corpus_republik - corpus_kbbi)

In [ ]:
len(corpus_unknown_republik)

<h3>Datasets Politik</h3>

In [ ]:
df_politik['Tokenized'] = df_politik['Text'].apply(lambda x: x.split())

In [ ]:
df_politik.head()

In [ ]:
corpus_politik = []

for i in df_politik['Tokenized']:
  corpus_politik.append(i)

corpus_politik = set([word for words in corpus_politik for word in words])

In [ ]:
corpus_unknown_politik = list(corpus_politik - corpus_kbbi)

In [ ]:
len(corpus_unknown_politik)

In [ ]:
corpus_unknown_words = []

for i in corpus_unknown_politik:
    corpus_unknown_words.append(i)


for i in corpus_unknown_caknun:
    corpus_unknown_words.append(i)


for i in corpus_unknown_anies:
    corpus_unknown_words.append(i)


for i in corpus_unknown_puan:
    corpus_unknown_words.append(i)


for i in corpus_unknown_luhut:
    corpus_unknown_words.append(i)


for i in corpus_unknown_ganjar:
    corpus_unknown_words.append(i)


for i in corpus_unknown_republik:
    corpus_unknown_words.append(i)

In [ ]:
corpus_unknown_words = list(dict.fromkeys(corpus_unknown_words))
len(corpus_unknown_words)

In [ ]:
df_unknown_words = pd.DataFrame(corpus_unknown_words, columns=['Kata'])

In [ ]:
df_unknown_words.info()
df_unknown_words.head(6)

In [ ]:
# Check Duplicated Word
df_unknown_words.duplicated().sum()

In [ ]:
# df_unknown_words.to_excel('Unknown_Words_v2.xlsx')

<h2>Replacing Unknown Words Using Unknown Corpus</h2>

<h3>Datasets CakNun</h3>

<h3>Datasets Anies</h3>

<h3>Datasets Puan</h3>

<h3>Datasets Luhut</h3>

<h3>Datasets Ganjar</h3>

<h3>Datasets Republik Pencitraan</h3>

In [ ]:
# Remove Punctuation Again
df_caknun['Text'] = df_caknun['Text'].apply(remove_punctuation)

In [ ]:
# Removing New Lines Again
df_caknun['text_emoji'] = df_caknun['text_emoji'].apply(remove_newLines)

In [ ]:
# Lemmatization / Stemming again
df_caknun['Text'] = df_caknun['Text'].apply(stemming)

<h2>Create New Feature / Column by merging Text and Emoji Column</h2>

<h3>Datasets CakNun</h3>

In [ ]:
df_caknun['text_emoji'] = df_caknun['Text'] + df_caknun['emoji']

In [ ]:
df_caknun['text_emoji'] = df_caknun['text_emoji'].apply(remove_newLines)

In [ ]:
df_caknun['text_emoji'][2]

<h3>Datasets Anies</h3>

In [ ]:
df_anies['text_emoji'] = df_anies['Text'] + df_anies['emoji']

In [ ]:
df_anies['text_emoji'] = df_anies['text_emoji'].apply(remove_newLines)

In [ ]:
df_anies['text_emoji'][2]

<h3>Datasets Puan</h3>

In [ ]:
df_puan['text_emoji'] = df_puan['Text'] + df_puan['emoji']

In [ ]:
df_puan['text_emoji'] = df_puan['text_emoji'].apply(remove_newLines)

In [ ]:
df_puan['text_emoji'][2]

<h3>Datasets Luhut</h3>

In [ ]:
df_luhut['text_emoji'] = df_luhut['Text'] + df_luhut['emoji']

In [ ]:
df_luhut['text_emoji'] = df_luhut['text_emoji'].apply(remove_newLines)

In [ ]:
df_luhut['text_emoji'][2]

<h3>Datasets Ganjar</h3>

In [ ]:
df_ganjar['text_emoji'] = df_ganjar['Text'] + df_ganjar['emoji']

In [ ]:
df_ganjar['text_emoji'] = df_ganjar['text_emoji'].apply(remove_newLines)

In [ ]:
df_ganjar['text_emoji'][2]

<h3>Datasets Republik Pencitraan</h3>

In [ ]:
df_republik['text_emoji'] = df_republik['Text'] + df_republik['emoji']

In [ ]:
df_republik['text_emoji'] = df_republik['text_emoji'].apply(remove_newLines)

In [ ]:
df_republik['text_emoji'][2]

<h2>Data Labeling</h2>

In [ ]:
df_emoji = pd.read_csv('Misc/Emoji_Polarity_Dict/Emoji_Sentiment_Data_v1.0.csv')

In [ ]:
df_emoji.info()
df_emoji.head()

In [ ]:
emoji = []
for i in df_emoji['Emoji']:
    emoji.append(i)

In [ ]:
emoji
emoji_str = ''.join(emoji)

In [ ]:
emoji_str